<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel>
		<div id="menu">
			
			<span id="leftmenu">
				<a wicket:id="dashboardLink"><wicket:message key="link.dashboard" /></a>
				|
				<a wicket:id="siteManagerLink"><wicket:message key="link.sitemanager" /></a>
			</span>
			
			<span id="rightmenu">
				<a wicket:id="helpLink"><wicket:message key="link.help" /></a> |
				<a wicket:id="logoutLink"><wicket:message key="link.logout" /></a>
			</span>
			
		</div>
	</wicket:panel>
</body>
</html>