
/.project
/.settings
/ad.base/.project
/ad.base/.settings
/ad.base/target
/ad.base/.classpath
/ad.base.embedded/.project
/ad.base.embedded/.settings
/ad.base.embedded/target
/ad.base.embedded/.classpath
/ad.db/.project
/ad.db/.settings
/ad.db/target
/ad.db/.classpath
/ad.import/.project
/ad.import/.settings
/ad.import/target
/ad.import/.classpath
/ad.server/.classpath
/ad.server/.project
/ad.server/.settings
/ad.server/target
/documentation/.project
/ad.manager/target
/ad.common/target
/ad.services/target