/* Default CSS Document */

/** BODY ELEMENTS **/
* {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background-color: #fff;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: .75em;
	min-width: 1024px;
}

/** MAIN CONTAINERS **/
div#container {
	
}

div#header {
	
}

div#header-in {
	
}
div#menu {
	vertical-align: middle;
}

span#rightmenu {
	float: right
}
span#leftmenu {
	float: left;
}

div#content {
	min-height: 300px;
}

div#center {
	
}

div#center-in {
	
}

div#footer {
	clear: both;
}

div#footer-in {
	
}

.column table.info {
	width: 100%;
}

.column div.overview {
	width: 45%;
}
.column div.overview h3.title {
	text-decoration: underline;
	margin-bottom: 10px;
}
.column div.overview.left {
	float: left;
}
.column div.overview.right {
	float: right;
	margin-left: 15px;
}
